@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
  Layout = "Views/Shared/_Layout.cshtml";
}

<h1>Database Error</h1>
<p>Sorry, we are experiencing technical difficulties with our database. We are working on getting this problem resolved. Sorry for any inconvenience!</p>