@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
  Layout = "Views/Shared/_Layout.cshtml";
}

<h1>We will be back soon!</h1>
<p>Sorry for the inconvenience but we are performing some maintenance at the moment. We will be back online shortly!</p>